venv/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
coverage.xml

.DS_Store
.idea/
.vscode/

.env
.env.*
!.env.example
!.env.sample

data/*
!data/default.*
**/__pycache__/
**/*.pyc
